<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
    <div class="box">
      <form action="log" method="post">
        <div class="block">
          <label>Name</label>
          <input type="text" name="uname" />
        </div>
        <div class="block">
          <label>Password</label>
          <input type="password" name="pass" />
        </div>
        <div class="block">
          <input type="submit" name="done" />
        </div>
      </form>
    </div>
  </body>
</html>
