*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1000px) {
    .main {
        zoom: 2;
    }
}
body {
    cursor: default;
    background-color: rgb(204, 198, 198);
}
.main{
    background-color: brown;
    box-shadow: 10px 15px 50px 8px #080707;
    margin: auto;
    text-align: center;
    width: 400px;
    padding: 20px 5px 20px 5px; 
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header h1{
    font-size: 50px;
    color: gold;
    text-shadow: 0 0 20px black;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    margin-top: 15px;
    margin-bottom: 40px;
}
.form{
    display: inline-block;
}
.box{
    margin-bottom: 25px;
}
.error{
    font-size: 15px;
    margin-top: 2px;
    margin-left: 20px;
    text-align: left;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input{
    font-size: 20px;
    outline: none;
    padding: 10px 10px 10px 25px;
    width: 300px;
    background-color: brown;
    color: gold;
    box-shadow: 0 0 5px 0 white;
    border: 0;
    border-radius: 20px;
    transition: 0.5s;
}
.input:hover{
    width: 310px;
    box-shadow: 5px 5px 20px 5px black;
}
.input:focus{
    background-color: antiquewhite;
    color: brown;
    width: 320px;
    font-weight: bold;
    box-shadow: 0 0 10px gold;
}
.login{
    border-radius: 40px;
    font-size: 27px;
    cursor: pointer;
    width: 324px;
    margin-top: 25px;
    font-weight: bold;
    padding: 7px;
    box-shadow: 0 0 15px 0 rgb(119, 4, 181);
    border: none;
    background-color: gold;
    transition: 0.5s;
}
.login:hover{
    background-color: brown;
    width: 340px;
    color: gold;
    box-shadow: 0 0 10px 0 white;
    border: 1px solid gold;
}
.bottom{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}
.bottom_a{
    color: white;
    text-shadow: 0 0 5px gold;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom_a:hover{
    color: gold;
}