.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.textdec{
    text-decoration: none;
}
.font_22{
    font-size: 22px;
}
.font-19{
    font-size: 19px !important;
}
.width-330{
    width: 300px !important;
}
.Admin{
    background-color: #204d74 !important;
    color: white !important;
}
.tables{
    max-height: 340px;
    overflow: auto;
    border: 2px solid blue;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
